{% extends "partial/MainLayout.twig" %}

{% block title %}
    Home
{% endblock %}

{% block section %}
    <h1>Home</h1>

    {% if auth %}
        <a href="{{ urlFor('auth.logout') }}">Logout</a><br>
        <h2>
            Xin chào
            {{ auth.userName }}!
        </h2>
        <h3>
            <a href="{{ urlFor('me.home') }}">Me</a><br>
            <a href="{{ urlFor('me.sheet.create') }}">Create sheet</a><br>
        </h3>
    {% else %}
        <a href="{{ urlFor('auth.login') }}">Login</a><br>
        <a href="{{ urlFor('auth.register') }}">Register</a>
    {% endif %}
{% endblock %}
